body {
    font-family: Arial, sans-serif;
    margin: 0;
    width: 460px;
    height: 250px;
    background-image: url('bg.png');
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

h1 {
    font-size: 24px;
    margin: 16px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 45%;
    box-sizing: border-box;
}

#loading-animation {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.animation-container {
    display: flex;
    justify-content: center;
}

.loading-text {
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
}

.hidden {
    display: none;
}

.summary-point {
    font-size: 14px;
    margin: 8px 16px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.copyright {
    font-size: 12px;
    margin-top: auto; 
    margin-bottom: 8px;
    text-align: center;
}
